.footer {
    border-top: 1px dashed #333;
    background-color: #000000;
    color: #888;
    font-family: 'Fira Code', monospace;
    padding: 2rem;
    text-align: center;
}

.text {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.footer_highlight {
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: #00ff00;
}