.nav {
    display: flex;
    align_items: center;
    padding: 1rem 2rem;
    border-bottom: 1px dashed #333;
    background-color: #000000;
    font-family: 'Fira Code', monospace;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #00ff00;
    text-decoration: none;
    letter-spacing: -1px;
    text-shadow: 0 0 2px #00ff00;
}

.links {
    display: flex;
    gap: 1.5rem;
    flex-grow: 1;
    justify-content: left;
    margin-left: 2rem;
}

.link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: all 0.1s steps(2);
}

@media (hover: hover) {
    .link:hover {
        background-color: #111;
        color: #00ff00;
        border: 1px solid #00ff00;
        box-shadow: 2px 2px 0 #00ff00;
    }
}

.link:active {
    background-color: #111;
    color: #00ff00;
    border: 1px solid #00ff00;
    box-shadow: 2px 2px 0 #00ff00;
}

.github_icon {
    color: #ffffff;
    display: flex;
    align_items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.2s ease;
}

@media (hover: hover) {
    .github_icon:hover {
        color: #00ff00;
        background-color: #111;
        transform: scale(1.1);
    }
}

.github_icon:active {
    color: #00ff00;
    background-color: #111;
    transform: scale(1.1);
}