.nav {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: var(--border-dashed);
    background-color: var(--color-panel-bg);
    font-family: var(--font-mono);
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-primary);
    text-decoration: none;
    letter-spacing: -1px;
    text-shadow: 0 0 2px var(--color-primary);
}

.links {
    display: flex;
    gap: 1.5rem;
    flex-grow: 1;
    justify-content: left;
    margin-left: 2rem;
}

.link {
    color: var(--color-text);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: all 0.1s steps(2);
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--color-surface-hover);
        color: var(--color-primary);
        border: var(--border-primary);
        box-shadow: 2px 2px 0 var(--color-primary);
    }
}

.link:active {
    background-color: var(--color-surface-hover);
    color: var(--color-primary);
    border: var(--border-primary);
    box-shadow: 2px 2px 0 var(--color-primary);
}

.github_icon {
    color: var(--color-text);
    display: flex;
    align_items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.2s ease;
}

@media (hover: hover) {
    .github_icon:hover {
        color: var(--color-primary);
        background-color: var(--color-surface-hover);
        transform: scale(1.1);
    }
}

.github_icon:active {
    color: var(--color-primary);
    background-color: var(--color-surface-hover);
    transform: scale(1.1);
}
