.back_link_container {
    margin-bottom: 2rem;
}

.back_link {
    display: inline-block;
    color: var(--color-text);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.0rem;
    border: var(--border-solid);
    padding: 8px 16px;
    transition: all 0.2s;
    border-color: var(--color-text);
    font-family: var(--font-mono);
}

@media (hover: hover) {
    .back_link:hover {
        background-color: var(--color-background);
        color: var(--color-primary);
        border-color: var(--color-primary);
        box-shadow: 0 0 10px rgba(0, 239, 62, 0.3);
        transform: translate(-2px, -2px);
    }
}
