@font-face {
    font-family: 'Departure Mono';
    src: url('assets/fonts/DepartureMono-1.500/DepartureMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Colors */
    --color-primary: #00ef3e; 
    --color-secondary: #ffb000; /* Amber for accents */
    --color-alert: #ff3333; /* Tactical Red */
    
    --color-background: #0c0c0c; /* Deep, deep gray, almost black */
    --color-surface: #0c0c0c;
    --color-surface-hover: #0c0c0c;
    --color-panel-bg: rgba(10, 10, 10, 0.9);
    --color-surface-read: #070707;
    
    /* NEUTRALIZED TEXT COLORS */
    --color-text: #eeeeee;
    --color-text-secondary: #cccccc;
    --color-text-muted: #666666;    
    /* NEUTRALIZED BORDERS */
    --color-border: #333333;
    
    /* Fonts */
    --font-mono: 'Departure Mono', monospace;
    --font-main: 'Inter', sans-serif;
    
    /* Shadows & Glows */
    /* --shadow-glow: 0 0 10px rgba(51, 255, 0, 0.4), 0 0 2px rgba(51, 255, 0, 0.2);
    --shadow-glow-strong: 0 0 20px rgba(51, 255, 0, 0.6), 0 0 5px rgba(51, 255, 0, 0.4);
    --shadow-hard: 2px 2px 0px 0px var(--color-primary); */
    
    /* REMOVED GLOBAL TEXT SHADOW (Set to none) */
    --text-shadow-std: none;
    
    /* Borders - Sci-Fi is rigid */
    --border-dashed: 1px dashed var(--color-border);
    --border-solid: 1px solid var(--color-border);
    --border-primary: 1px solid var(--color-primary);
    
    /* CRT Effects */
    --scanline-color: rgba(0, 0, 0, 0.5);
    --scanline-size: 4px;
}
